{% extends 'registration/base.html' %}
{% block content %}
<div class="ow marl justify-content-center login_row">
  <div class="login_block">
    <div class="login_form_block">
      <div class="welcome">Estudio Digital</div>
      <p>

        Le hemos enviado instrucciones a su casilla de correo, deberías estar recibiéndolo pronto.
      </p>
      <p>
        Si no recibiste el correo, chequea que hayas ingresado una contraseña correcta o que no se encuentre como spam
      </p>
    </div>
  </div>
</div>
{% endblock %}
