{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'common:impuestos_list' %}">Impuestos</a></li>
    <li class="breadcrumb-item active">{% if impuesto_obj %}Editar{% else %}Crear{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<form id="add_form" method="POST" action='' novalidate enctype="multipart/form-data">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            {% if impuesto_obj %}EDITAR{% else %}CREAR{% endif %} Impuesto
          </div>


                <!-- Columna 1 -->

          <div class="row marl no-gutters justify-content-center">
            <div class="col-md-6">
              <div class="row" style="margin-left: 10px;">
              <div class="filter_col col-md-12">
                <div class="form-group">
                      <label for="exampleInputEmail1" class="required">Nombre
                        {% if impuesto_form.nombre.field.required %}
                          <span class="error">*</span>
                          {% endif %}
                        </label>
                      {{ impuesto_form.nombre }}
                      <span class="error">{{ impuesto_form.nombre.errors }}</span>
                </div>
              </div>
            </div>


              <div class="row" style="margin-left: 10px;">
              <div class="filter_col col-md-6">
                <div class="form-group">
                      <label for="exampleInputEmail1" class="required">Tipo
                        {% if impuesto_form.tipo.field.required %}
                          <span class="error">*</span>
                          {% endif %}
                        </label>
                      {{ impuesto_form.tipo }}
                      <span class="error">{{ impuesto_form.tipo.errors }}</span>
                </div>
              </div>

              <div class="filter_col col-md-6">
                <div class="form-group">
                      <label for="exampleInputEmail1" class="required">Periodicidad
                        {% if impuesto_form.periodicidad.field.required %}
                          <span class="error">*</span>
                          {% endif %}
                        </label>
                      {{ impuesto_form.periodicidad }}
                      <span class="error">{{ impuesto_form.periodicidad.errors }}</span>
                </div>
              </div>
              </div>

              <div class="row" style="margin-left: 10px;">
              <div class="filter_col col-md-6">
                <div class="form-group">
                      <label for="exampleInputEmail1" class="required">División Vencimientos
                        {% if impuesto_form.div_venc.field.required %}
                          <span class="error">*</span>
                          {% endif %}
                        </label>
                      {{ impuesto_form.div_venc }}
                      <span class="error">{{ impuesto_form.div_venc.errors }}</span>
                </div>
              </div>

              <div class="filter_col col-md-6">
                <div class="form-group">
                      <label for="exampleInputEmail1" class="required">Primer día vence
                        {% if impuesto_form.pri_dia.field.required %}
                          <span class="error">*</span>
                          {% endif %}
                        </label>
                      {{ impuesto_form.pri_dia }}
                      <span class="error">{{ impuesto_form.pri_dia.errors }}</span>
                </div>
              </div>
              </div>



            </div>

                <!-- Columna 2 -->
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Descripción{% if impuesto_form.descripcion.field.required %}<span class="error">*</span>{% endif %}</label>
                  {{ impuesto_form.descripcion }}
                  <span class="error">{{ impuesto_form.description.errors }}</span>
                </div>
              </div>

            </div>


            <div>
              <br><br>

            <input type="hidden" id="save_new_form" name="savenewform">
            <div class="col-md-12">
              <div class="row marl buttons_row text-center form_btn_row">
                <button  class="btn btn-default save" type="submit">Grabar</button>
                {% if not impuesto_obj %}
                <button class="btn btn-success save savenew" type="submit">Grabar & Nuevo</button>
                {% endif %}
                <a href="{% url 'common:impuestos_list' %}" class="btn btn-default clear" id="create_impuesto_cancel">Cancelar</a>
              </div>
            </div>
        </div>
  </div>
</form>
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  $(".savenew").on('click', function(e){
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#add_form').submit()
  });
  $(document).ready(function() {
    $('.assigned_users').select2();
  });
</script>
{% endblock js_block %}
