{% extends 'sales/base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"> <a  href="{% url 'common:impuestos_list' %}">Impuestos</a></li>
  <li class="breadcrumb-item active">Ver</li>
</ol>
</nav>
{% endblock %}
{% block content %}
<!-- Impuestos VIEW STARTS -->
  <div class="main_container" id="maincontainer">
    <div class="overview_form_block row marl justify-content-center">
      <div class="col-md-8">
        <div class="card">

          <div class="card-body" id="datashow">

           <div class="card-title text-right">
            <h5>
              <span class="float-left title">Resumen</span>
              <span class="" style="margin-top: 0px">
                <div class="dropdown buttons_row">
                  <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Acciones
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'common:edit_impuesto' impuesto.id %}">Editar</a></li>
                  </ul>
                </div>
              </span>
            </h5>
          </div>

            <div class="row marl">
              <div class="col-md-4">
                <div class="filter_col col-md-12" id="iname">
                  <div class="form-group" >
                    <label class="impuesto_field_label" for="id_name" data-name="name">Nombre</label>
                    <div class="impuesto_field" id="impuesto_name" data-name="name">{{ impuesto.nombre }}</div>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="impuesto_field_label" for="id_phone" data-name="name">Tipo</label>
                    <div class="impuesto_field" id="impuesto_phone" data-name="name">{{ impuesto.tipo |capfirst }}</div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="impuesto_field_label" for="id_phone" data-name="name">Periodicidad</label>
                    <div class="impuesto_field" id="impuesto_phone" data-name="name">{{ impuesto.periodicidad |capfirst}}</div>
                  </div>

                  <div class="form-group">
                    <label class="impuesto_field_label" for="id_email" data-name="name">Div. Vencimientos</label>
                    <div class="impuesto_field" id="impuesto_email" data-name="name">{{ impuesto.div_venc }}</div>
                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label class="impuesto_field_label" for="id_address" data-name="name" >1º día vence</label>
                    <div class="impuesto_field" id="impuesto_address" data-name="name">{{ impuesto.pri_dia }}</div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    {% if impuesto.description %}
                    <label class="impuesto_field_label" for="id_description" data-name="name">Descripción</label>
                    <div class="impuesto_field" id="impuesto_description" data-name="name">{{ impuesto.description }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
<!-- impuestos VIEW ENDS -->
{% endblock%}
{% block js_block %}
<script type="text/javascript">

function resetForm() {
  $('#CommentEditError').hide()
  document.getElementById("CommentEditError").reset();
  }

$("#comment_form").submit(function (e) {
  e.preventDefault()
  var formData = new FormData($("#comment_form")[0]);
  $.ajax({
    url: "{% url 'contacts:add_comment' %}",
    type: "POST",
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      if (data.error) {
        $("#CommentError").html(data.error).show()
      } else {
        d = new Date(data.commented_on);
        $("#comments_div").prepend("<li class='list-group-item list-row' id='comment" + data.comment_id + "'>" +
          "<div class='float-right right-container'>" +
          "<div class='list-row-buttons btn-group float-right'>"+
          "<button class='btn primary_btn btn-sm dropdown-toggle' data-toggle='dropdown' type='button'><span class='caret'></span>Actions</button>"+
          "<ul class='dropdown-menu text-center'>" +
          "<li><a class='action' onclick='edit_comment(" + data.comment_id + ")'>Edit</a></li>" +
          "<li><a class='action' onclick='remove_comment(" + data.comment_id + ")''>Remove</a></li></ul></div></div>" +
          "<div class='stream-post-container' id='comment_name"+data.comment_id+"'><pre>"+data.comment+"</pre></div>"+
          "<div class='stream-container'><pre class='float-left'>"+data.commented_by+"</pre><pre class='float-right'>"+d.toLocaleString('en-US', { hour12: true })+"</pre></div>"
        )
        $("#id_comments").val("")
        alert("Comment Submitted")
        $("#CommentError").html("")
      }
    }
  })
})


function edit_comment(x) {
  $('#Comments_impuestos_Modal').modal('show');
  comment = $("#comment_name" + x).text()
  $("#commentid").val(x)
  $("#id_editcomment").val(comment)
}

$("#comment_edit").click(function (e) {
  e.preventDefault()
  var formData = new FormData($("#comment_edit_form")[0]);
  $.ajax({
    url: "/contacts/comment/edit/",
    type: "POST",
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      if (data.error) {
        $("#CommentEditError").html(data.error).show()
      } else {
        $("#comment_name" + data.commentid).html('<pre>' + data.comment + '</pre>')
        $('#Comments_impuestos_Modal').modal('hide');
        $("#id_editcomment").val("")
        $("#CommentEditError").html("")
      }
    }
  })
})

function HideError(e) {
}
function HideError(e) {
    $("#CommentError").hide()
}

function remove_comment(x) {
  var con = confirm("Do you want to Delete it for Sure!?")
  if (con == true) {
    $.post('/contacts/comment/remove/', {
      "comment_id": x
    }, function (data) {
      if (data.error) {
        alert(data.error)
      } else {
        $("#comment" + data.cid).remove()
      }
    })
  }
}
  </script>
  <script src="{% static 'js/mention.js' %}"></script>

{% endblock js_block %}
