{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <title>No pudimos encontrar la página que estás buscando (error 404)</title>
  <link href="{% static 'css/403.css' %}" rel="stylesheet">
</head>

<body>
  <h1>
    404
  </h1>
  <div class="container">
    <h3>No pudimos encontrar la página que estás buscando (error 404)</h3>
    <hr />
    <p>Chequea que has ingresado la dirección correcta</p>
    <p>Comunicate con el administrador si crees que existe un error</p>
    Volver<a href="/"> Estudio Digital</a>
  </div>
</body>
</html>
